<div class="wide-block newsletter-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="section-title title-white">
          <h2><span class="normal">Subscribe</span> <span class="styler_color">Newsletter</span></h2>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="newsletter-form">
          <form action="/" method="post">
            <input type="text" placeholder="Email Address" />
            <input type="submit" value="SUBSCRIBE" class="styler_bg_color" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="section-testing">
  <div class="row">
    <div class="col-sm-12">
      <p class="hero">Testing out the section</p>
    </div>
  </div>
</div>
