  <!-- begin footer -->
        <div id="footer">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <!-- edit footer logo here -->
                          <a href="#" class="logo"><%= image_tag('logo-white.png', alt: 'logo')%></a>
                          <div class="text">
                                <!-- edit equal housing opportunity disclaimer here -->
                                <p>Lorem must explain to you how all this mistaolt cing pleasure and praising ain wasnad I will give you a complete pain was prexplain to you lorem</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <!-- begin disclaimer here -->
                            <div class="text">
                                <div class="header">QUICK LINK</div>
                                <ul class="quick-links">
                                  <li><a href="services.html">Services</a></li>
                                  <li><a href="#">Agent</a></li>
                                  <li><a href="properties.html">Properties</a></li>
                                  <li><a href="#">Features</a></li>
                                  <li><a href="blog.html">Blog</a></li>
                                  <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                            <!-- /end disclaimer -->
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <!-- begin newsletter form area -->
                            <div class="text">
                                <div class="header">OUR OFFICE</div>
                                <ul class="foot-address">
                                  <li>
                                    <i class="fa fa-globe"></i>
                                    Anderson Realty, Inc.<br>
                                    Mary L. Anderson<br>
                                    7800 East Mockingbird Lane<br>
                                    Suite 400<br>
                                    Dallas, TX 75235
                                  </li>
                                  <li>
                                    <i class="fa fa-phone"></i>
                                    p. 214.985.9000
                                  </li>
                                  <li>
                                    <i class="fa fa-fax"></i>
                                    f. 214.985.9003
                                  </li>
                                  <li>
                                    <i class="fa fa-envelope"></i>
                                    hello@realestatepro.com
                                  </li>
                                </ul>
                            </div>
                            <!-- /end newsletter form area -->
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <!-- begin newsletter form area -->
                            <div class="text">
                                <div class="header">DISCLAIMER</div>
                                <p>Information is from the multiple listing service and neither suggests nor infers that the [name of agent] or [name of company] participated as either the listing or cooperating agent or broker in the sale or purchase of the properties depicted.</p>
                            </div>
                            <!-- /end newsletter form area -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="container">
                    <div class="row">
                        <!-- edit copyright notice here -->
                       <!--  <div class="copyrights">Real Estate Professional One Page  Website Template for Realtors or Real Estate Agents by <a href="http://www.themeleaf.com">ThemeLeaf</a>. Copyright 2014.</div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /end footer -->
